.img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.span_user {
  margin-left: 4px;
}

.span_comment {
  margin-right: 20px;
}

.span_date {
  font-size: 0.75rem;
  line-height: 1rem;
}

.article_user {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}

.section {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
